.empty {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsWrapper {
  text-align: right;
}

.table {
  margin-bottom: 16px;
}

.fillRandom {
  margin-right: 10px;
}
